@page
@model NewStart.Pages.UnitUserReviews.DeleteModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Age of Mythology">
    <title>Age of Mythology</title>
    <link rel="stylesheet" href="~/css/CRUDpages.css">
</head>
<body>
    <main>
        <nav id="NavigationBar">
            <a class="MenuOption" asp-area="" asp-page="/Index">
                Home
            </a>
            <a class="MenuOption" href="/Units">
                Units
            </a>
            <a class="MenuOption" href="/Mythologies">
                Mythologies
            </a>
            <a class="MenuOption" href="/Gods">
                Gods
            </a>
            <a class="MenuOption" href="/Quiz">
                Quiz
            </a>
            <a class="MenuOption" href="/Reviews">
                Review
            </a>
        </nav>
        <h1>Delete this Unit Review?</h1>

        <p>Mythology: @Model.UnitUserReviews.Unit.Name</p>
        <p>Review: @Model.UnitUserReviews.Review</p>


        <form method="post">
            <button type="submit">Delete</button>
        </form>
    </main>
</body> 
