@page
@model NewStart.Pages.MythologyUserReviews.EditModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Age of Mythology">
    <title>Age of Mythology</title>
    <link rel="stylesheet" href="~/css/CRUDpages.css">
</head>
<body>
    <main>
        <nav id="NavigationBar">
            <a class="MenuOption" asp-area="" asp-page="/Index">
                Home
            </a>
            <a class="MenuOption" href="/Units">
                Units
            </a>
            <a class="MenuOption" href="/Mythologies">
                Mythologies
            </a>
            <a class="MenuOption" href="/Gods">
                Gods
            </a>
            <a class="MenuOption" href="/Quiz">
                Quiz
            </a>
            <a class="MenuOption" href="/Reviews">
                Review
            </a>
        </nav>

        <h1>
            Edit Mythology Review
        </h1>

        <form method="post">
            <table>
                <tbody>
                    <tr>
                        <th><label asp-for="EditMythologyUserReviews.Review">Review:</label></th>
                        <td><input asp-for="EditMythologyUserReviews.Review" /></td>
                        <td><span asp-validation-for="EditMythologyUserReviews.Review"></span></td>

                        <th><label asp-for="EditMythologyUserReviews.Mythology.Name">Mythology</label></th>
                        <td>
                            <select asp-for="EditMythologyUserReviews.Mythology.Name">
                                @foreach (var mythology in Model.MythologyList)
                                {
                                    <option value=@mythology>@mythology</option>
                                }
                            </select>
                        </td>
                        <td><span asp-validation-for="EditMythologyUserReviews.Mythology.Name"></span></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Save Mythology</button>
        </form>
    </main>
</body>