@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I will personally sell your private information to Ernst Kirchsteiger.</p>
<p>    Regards, Leonora</p>

